Repository RyzeNGrind/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, prettier

nixfmt:
  name: Format Nix files
  entry: nixfmt
  language: system

statix:
  name: Lint Nix files
  entry: statix check
  language: system
  pass_filenames: false

prettier:
  name: Format markdown files
  entry: prettier --write
  language: system

refactor: improve code style with proper inherit usage
  modules/cache/default.nix
  modules/core/network.nix
  modules/services/wsl.nix
Due: nixfmt, statix

refactor: replace empty pattern with _ in WSL home-manager module
  .github/workflows/build.yml
  .github/workflows/nix-ci.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/adr/001-profile-based-configuration.md
  docs/adr/002-multi-architecture-cache.md
  flake.lock
  flake.nix
  home-manager/home.nix
  modules/cache/s3.nix
  modules/cache/seaweed.nix
  modules/home-manager/wsl.nix
  modules/services/wsl.test.nix
  nixos/configuration.nix
  nixos/hardware-configuration.nix
  nixpkgs.nix
  overlays/default.nix
  overlays/tensorrt.nix
  profiles/base/README.md
  profiles/base/test.nix
  tests/arch/cache.nix
  tests/arch/default.nix
Due: nixfmt, statix, prettier

chore: remove unnecessary status file
  tatus
Due: none

docs: Add ADR README with project decision record documentation
  docs/adr/README.md
Due: prettier

feat: Add Cursor configuration rules for Nix project workflow
  .cursorrules
Due: none

feat: Implement incremental module activation strategy
  .github/workflows/ci.yml
  README.md
  docs/adr/003-incremental-module-activation.md
  modules/core/features.nix
Due: nixfmt, statix, prettier

feat: Implement specialisation-based configuration management for NixOS
  docs/adr/004-specialisation-based-configurations.md
  flake.nix
  hosts/base/wsl.nix
  hosts/daimyo00/default.nix
  hosts/daimyo00/wsl.nix
  tests/specialisation.nix
Due: nixfmt, statix, prettier

feat: Refactor NixOS configuration with specialisation-based approach
  README.md
  docs/adr/004-specialisation-based-configurations.md
  flake.nix
  hosts/base/default.nix
  hosts/base/wsl.nix
  hosts/daimyo/baremetal.nix
  hosts/daimyo/wsl-cuda.nix
  hosts/daimyo/wsl-nocuda.nix
  modules/core/system.nix
  modules/wsl/default.nix
Due: nixfmt, statix, prettier

feat: Update flake and system configuration with comprehensive modular improvements
  flake.lock
  flake.nix
  hosts/base/wsl.nix
  hosts/daimyo/baremetal.nix
  hosts/daimyo/configuration.nix
  modules/core/features.nix
  modules/core/spec.nix
  modules/core/system.nix
  modules/hardware/default.nix
  modules/programs/default.nix
  modules/services/default.nix
  modules/system/default.nix
  modules/testing/core.nix
  modules/virtualisation/default.nix
  modules/wsl/default.nix
  tests/core/default.nix
  tests/core/spec.nix
  tests/core/system.nix
  tests/default.nix
  tests/specialisation/default.nix
Due: nixfmt, statix

refactor: restructure flake modules and improve module handling
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/nix-ci.yml
  .github/workflows/test.yml
  .gitignore
  README.md.old
  flake.lock
  flake.nix
  hosts/daimyo/configuration.nix
  hosts/daimyo/home.nix
  hosts/daimyo00/default.nix
  hosts/daimyo00/home.nix
  hosts/daimyo00/wsl.nix
  modules/nixos/wsl.nix
  modules/programs/1password.nix
  tests/specialisation.nix
Due: nixfmt, statix

feat: add base and workstation profiles with proper formatting
  .cursorrules
  docs/adr/005-flake-module-usage.md
  flake.lock
  flake.nix
  hosts/daimyo/configuration.nix
  hosts/daimyo/home.nix
  hosts/daimyo00/configuration.nix
  hosts/example-gaming-workstation/configuration.nix
  modules/core.nix
  modules/core/default.nix
  modules/core/features.nix
  modules/core/network.nix
  modules/features/default.nix
  modules/features/desktop/default.nix
  modules/hardware/nvidia.nix
  modules/profiles/base/default.nix
  modules/profiles/default.nix
  modules/profiles/workstation/default.nix
  modules/programs/default.nix
  modules/services/wsl.nix
  profiles/default.nix
Due: nixfmt, statix, prettier

feat: Refactor development and gaming profiles with enhanced configuration options
  flake.nix
  hosts/daimyo/configuration.nix
  hosts/daimyo/home.nix
  hosts/example-gaming-workstation/configuration.nix
  modules/core/features.nix
  modules/core/network.nix
  modules/features/desktop/default.nix
  modules/hardware/nvidia.nix
  modules/nixos/profiles/gaming.nix
  modules/profiles/default.nix
  modules/profiles/development/default.nix
  modules/profiles/gaming/default.nix
  modules/profiles/server/default.nix
  modules/profiles/workstation/default.nix
  modules/services/wsl.nix
  tests/profiles/default.nix
Due: nixfmt, statix

feat: Enhance NixOS testing framework and virtualization support
  flake.lock
  flake.nix
  hosts/base/default.nix
  hosts/base/wsl.nix
  hosts/daimyo/configuration.nix
  hosts/daimyo/home.nix
  modules/core/features.nix
  modules/core/network.nix
  modules/core/system.nix
  modules/features/desktop/default.nix
  modules/profiles/base/default.nix
  modules/profiles/default.nix
  modules/profiles/development/default.nix
  modules/profiles/development/test.nix
  modules/services/looking-glass.md
  modules/services/looking-glass.nix
  modules/services/looking-glass.test.nix
  modules/services/wsl.nix
  modules/virtualisation/default.nix
  modules/virtualisation/looking-glass.nix
  modules/virtualisation/looking-glass.test.nix
  tests/default.nix
  tests/wsl/default.nix
Due: nixfmt, statix, prettier

chore: update .gitignore with pre-commit configuration
  .gitignore
Due: none

Create README.md
  README.md
Due: prettier

Path conditions:
  nixfmt: any of: \.nix$
  statix: any of: \.nix$
  prettier: any of: \.(md|yaml|json)$
